aiohappyeyeballs
aiohttp
aiosignal
attrs
audioop-lts
certifi
cffi
charset-normalizer
discord.py
frozenlist
idna
iniconfig
multidict
packaging
pluggy
propcache
pycparser
Pygments
PyNaCl
pytest
pytest-asyncio
python-dotenv
requests
urllib3
yarl
yt-dlp
ytmusicapi
